.features .glyphicon {
    font-size: 32px;
}

.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }
.top70 { margin-top:70px; }
.top90 { margin-top:90px; }

html, body { height: 90%}

#side-panel {
    position: fixed;
    float: left;
    width: 250px;
    padding: 10px 20px 10px 20px;
    height: 60%;
    background-color: #DFE0D9;
    border-right: 1px solid #dddddd;
    text-align: center;
}


#center-panel1
    {
    margin-left: 280px;
    background-color: #A4A9A6;
}

#center-panel2
    {
    margin-left: 280px;
    background-color: #A4A9A6;
}

#skills-header, #settings-header
    {
    margin-left: 280px;
    }
    
#center-panel2
    {
    margin-left: 280px;
    background-color: #FFFFFF;
    }

#center-panel1
    {
    margin-left: 280px;
    background-color: #A4A9A6;
    }



#inner-panel
    {
    overflow:auto;
    padding: inherit;
    }

#center-panel .row-fluid {overflow: auto;}
#center-panel .large {height: 400px; padding: 10px; background-color: #5C595A}

.dropdown-toggle {
    overflow: hidden;
    padding-right: 24px /* Optional for caret */;
    text-align: left;
    text-overflow: ellipsis;
    width: 75%;
}

#categ1, #categ2, #categ3 {
  overflow: hidden;
  padding-right: 24px /* Optional for caret */;
  text-align: left;
  text-overflow: ellipsis;
  width: 35%;
}


#container1 {
  background-color: #A4A9A6;
}

#container2 {
  background-color: #DFE0D9;
}

#container3 {
  background-color: #DFE0D9;
}

.bodycontainer { max-height: 285px; width: 100%; margin: 0; overflow-y: auto; }
.table-scrollable { margin: 0; padding: 0; }

option {
  width: 400px;
  }

.columns label.radio-inline, .columns label.checkbox-inline {
    min-width: 10px;
    vertical-align: top;
    width: 12%; }

ul.listNoBullet {
	clear:both;
	list-style:none;
	margin:0px;
	padding:0px;
}

ul.listNoBullet li {
	background-image:none !important;
	padding-left:0px !important;
}

ul.listHorizontal {
	display:inline;
	list-style:none;
	margin:0px;
	padding:0px;
}

ul.listHorizontal li {
	/*border-right:1px solid #9B9B9D;*/
	color:#494949;
	background-color:#F6F6F6;
	display:inline;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	voice-family: "\"}\"";
	voice-family:inherit;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}

html>body ul.listHorizontal li {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}

ul.listHorizontal li.last {
	margin:0px !important;
	padding:0px !important;
	border-right:none !important;
}

ul.listHorizontal li a {
	color:#494949;
	text-decoration:none;
}

#name, #trill-role, #job-title{
  font-size:  115%;
}


/*#GDS-skills, #IS-skills{
  font-size:  115%;
}*/

#pswd-link{
  font-size:  125%;
}

.list-group-item-heading{
  font-size:  120%
}

.list-group-item-text{
  font-size:  110%
}
