{% extends "base.html" %}

{% block title %}Change your password{% endblock %}

{% block content %}
<div class="row top70">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6 well"> <!--style="background-color: rgb(255,255,255);"-->
        <div class="container">
            <div class="row">
                <form class="form" method="POST" role="form">
                       {{ form.hidden_tag() }}
                    <div class = 'row'>
                        <div class="heading col-xs-6 ">
                            <h1 class="form-heading">Change your password</h1>
                            <p>Required fields are marked by *</p>
                        </div>
                        <div class = 'col-xs-12'>
                            <div class='col-xs-off-6 col-xs-6'>
                                <ul class="listNoBullet">
                                    <li class="form-group {% if form.password.errors %} has-error {% endif %}">
                                        <label for="password"><span class="hidden">Required</span>* Password:</label>
                                        {{form.password(class="form-control")}}
                                        <p class="help-block" style="color:red">{{ form.password.errors[0] }}</p>
                                    </li>
                                    <li class="form-group {% if form.confirm.errors %} has-error {% endif %}">
                                        <label for="confirm"><span class="hidden">Required</span>* Confirm password:</label>
                                        {{ form.confirm(class="form-control") }}

                                        {% if error %}
                                        <p class="help-block" style="color:red"> {{ error }}</font></p>
                                        {% else %}
                                        <p class="help-block" style="color:red">{{ form.confirm.errors[0] }}</p>
                                        {% endif %}
                                        <p>{{instruct}}</p>
                                    </li>

                                    <li class = 'form-inline row col-xs-6'>
                                        <button id="login-button" type="submit" class="btn btn-primary">Submit</button>

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div><!--/container-->
    </div>
</div>

{% endblock %}