{% extends "base.html" %}

{% block title %}Find your resource{% endblock %}

{% block content %} 
<div class= 'row top70'>
    <div class="container well col-md-offset-1 col-md-4 text-center">
        <h3>Search for a person</h3>
        <div class="input-group top30">
            <input type="text" class="form-control" placeholder="Input name...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Find</button>
                </span>
        </div>
    </div>
    
    <div class="container well col-md-4 col-md-offset-2 text-center">
        <h3>Search for a skill</h3> 
        <div class="input-group top30">
            <input type="text" class="form-control" placeholder="Input skill...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Find</button>
                </span>
        </div>
    </div>   
    
</div>
{% endblock %}

</body>
</html>