{% extends "base.html" %}

{% block title %}
Log in to Trill
{% endblock %}


{% block content %}
<div class="row top70">
    <div class="col-sm-3">

    </div>
    <div class="col-sm-6 well"> <!--style="background-color: rgb(255,255,255);"-->
        <div class="container">
            <div class="row">
                <form class="form" action="{{url_for('signin')}}" method="POST" role="form">
                           {{ signinpage_form.hidden_tag() }}
                    <div class = 'row'>
                        <div class="heading col-xs-6 ">
                            <h3 class="form-heading">Log in to Trill</h3>
                            <p>Required fields are marked by *</p>
                        </div>
                        <div class = 'col-xs-12'>
                            <div class='col-xs-off-6 col-xs-6'>
                                <ul class="listNoBullet">
                                    <li class="form-group {% if signinpage_form.username.errors %} has-error {% endif %}">
                                        <!--{{signinpage_form.username.label}}-->
                                        <label for="username"><span class="hidden">Required</span>* Email address:</label> {{signinpage_form.username(class="form-control")}}
                                        <p class="help-block" style="color:red">{{ signinpage_form.username.errors[0] }}</p>
                                    </li>
                                    <li class="form-group {% if signinpage_form.password.errors %} has-error {% endif %}">
                                        <!--{{signinpage_form.password.label}}-->
                                        <label for="password"><span class="hidden">Required</span>* Password:</label>{{ signinpage_form.password(class="form-control") }}
                                        {% if error %}
                                        <p class="help-block" style="color:red">{{ error }}</font></p>
                                        {% else %}
                                        <p class="help-block" style="color:red">{{ signinpage_form.password.errors[0] }}</p>
                                        {% endif %}
                                    </li>
  
                                    <li class = 'form-inline row'>              
                                        <p class="checkbox col-sm-6 col-xs-offset-1 col-sm-offset-0"> {{signinpage_form.remember_me}} Remember me</p>
                                        <a class="col-sm-6 col-md-4 col-md-offset-2 col-xs-12" href='/reset'>Reset password</a>
                                    </li>
                                    <li class = 'row top10 col-xm-offset-1 col-sm-offset-0'>
                                        <button id="login-button" type="submit" class="btn btn-primary">Log In</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div><!--/container-->
    </div>
</div>

{% endblock %}
