{% extends "bootstrap/base.html" %}
{% block title %}Trill Skills{% endblock %}

{% block content %}
<div class="container">
    <h3>Hello '{{user_name}}'</h3>
    <h3>Your current role is '{{trill_role}}'</h3>
    <h3>Your GDS skills for are: </h3>
    <p></p>
      <ul class="list-group">
          {% for groups in group_list %}
          <h4>{{groups.name}}</h4>
            {% for skills in groups.skill_list %}
            <li class="list-group-item">{{skills}}</li>
            {% endfor %}
          {% endfor %}
      </ul>
</div>
{% endblock %}
