{% extends "bootstrap/base.html" %}
{% block title %}Trill Skills{% endblock %}

{% block content %}
<div class="container">
    <h3 id="user-name">Hello '{{user_obj.name}}' </h3>
    <h3 id="trill-role">Your current role is '{{user_obj.trill_role}}' </h3>
    <h3 id="skill-type">Your GDS skills are: </h3>
    
    <div class="accordion" id="accordion2">
        {% for group in user_obj.group_list %}  
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 id="skill-group{{group.n}}"class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#{{group.n}}">{{group.name}}</a>
                </div>
                <div id="{{group.n}}" class="accordion-body collapse">
                    {% for skill_title in group.title_list %}
                    <div class="list-group">
                        {% for skill in skill_title.skill_list %}
                        <a href="#" class="list-group-item">
                            
                            <h5 id="skill-title{{group.n}}-{{skill_title.n}}" class="list-group-item-heading">{{skill_title.name}}</h4>
                                                     
                            <p id="skill-desc{{group.n}}-{{skill_title.n}}-{{skill.n}}" class="list-group-item-text">{{skill.name}}</p>
                            
                        </a>
                        {% endfor %}
                    </div> 
                    
                    {% endfor %} 
                </div>
            </div>
        </div>
        {% endfor %} 
    </div>
</div>
{% endblock %}
    
    



