{% extends "base.html" %}

{% block title %}Welcome to Trill{% endblock %}

{% block content %}  
<div class="container">
    <div class= 'row top90'>
        <div id="side-panel" class="container-fluid well">
            <h3>Your profile </h3>
            <h5 id="name"> Name: {{user_obj.name}}</h5>
            <h5 id="trill-role">Role: {{user_obj.trill_role}}</h5>
            <h5 id="job-title">Job Title: {{user_obj.job_title}}</h5>
            <h5 id="line-manager">Line Manager: {{user_obj.line_manager}}</h5>
        </div>
        
        <div id="center-panel" class="container-fluid well">
            <h3>Your GDS skills are: </h3>
            <div class="accordion row-fluid" id="accordion2">
                
                <div class="panel-group" id="accordion">
                    {% for group in user_obj.group_list %}
                    <div class="panel panel-default"><!--Put each skill group in a box-->
                        <div class="panel-heading">
                            <h4 id="skill-group{{group.n}}" class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#{{group.n}}">
                                    <span class ="glyphicon glyphicon-chevron-down"></span> {{group.name}}</a>
                            </h4>
                        </div>
                        <div id="{{group.n}}" class="panel-collapse collapse">

                            {% for skill_title in group.title_list %}
                            <!--<div class="list-group">--> <!--slightly separates out different skill titles-->
                                {% for skill in skill_title.skill_list %}
                                <a class="list-group-item">
                                    <h5 id="skill-title{{group.n}}-{{skill_title.n}}" class="list-group-item-heading">{{skill_title.name}}</h5>
                                    <p id="skill-desc{{group.n}}-{{skill_title.n}}-{{skill.n}}" class="list-group-item-text">{{skill.code}} {{skill.name}}</p>


                                    <div class = 'well well-sm'>
                                        <div class = 'container row top7'>
                                            <label class="control-label">
                                                    Proficency level
                                                </label>
                                           <label class="checkbox-inline" data-toggle="popover" data-placement="top" data-container="body" title="Proficency level - None" data-trigger="hover" data-content="The user is utterly inept at this skill">
                                              <input type="radio" name="prof_radio_{{skill_title.name}}_{{skill.code}}_{{skill.name}}" id="prof_radio|{{skill_title.code}}|{{skill.code}}|{{skill.name}}|1"
                                                 value="option1" {% if 1 == skill.prof %}checked{% endif %}> None
                                           </label>
                                           <label class="checkbox-inline" data-toggle="popover" data-placement="top" data-container="body" title="Proficency level - Basic" data-trigger="hover" data-content="The user has limited ability at this skill">
                                              <input type="radio" name="prof_radio_{{skill_title.name}}_{{skill.code}}_{{skill.name}}" id="prof_radio|{{skill_title.name}}|{{skill.code}}|{{skill.name}}|2"
                                                 value="option2" {% if 2 == skill.prof %}checked{% endif %}> Basic
                                           </label>
                                           <label class="checkbox-inline" data-toggle="popover" data-placement="top" data-container="body" title="Proficency level - Proficent" data-trigger="hover" data-content="The user has an medium level of ability at this skill" >
                                              <input type="radio" name="prof_radio_{{skill_title.name}}_{{skill.code}}_{{skill.name}}" id="prof_radio|{{skill_title.name}}|{{skill.code}}|{{skill.name}}|3"
                                                 value="option3" {% if 3 == skill.prof %}checked{% endif %}> Proficent
                                           </label>
                                           <label class="checkbox-inline" data-toggle="popover" data-placement="top" data-container="body" title="Proficency level - Expert" data-trigger="hover" data-content="The user has an incredibly high ability at this skill">
                                              <input type="radio" name="prof_radio_{{skill_title.name}}_{{skill.code}}_{{skill.name}}" id="prof_radio|{{skill_title.name}}|{{skill.code}}|{{skill.name}}|4"
                                                 value="option4" {% if 4 == skill.prof %}checked{% endif %}> Expert
                                           </label>
                                        </div>
                                        
                                        <div class = 'container row top7'>
                                            <label class="control-label">
                                                    Confidence level
                                                </label>
                                           <label class="checkbox-inline" data-toggle="popover" data-placement="top" data-container="body" title="Confidence level - None" data-trigger="hover" data-content="The user has no confidence in their ability at this skill">
                                              <input type="radio" name="conf_radio_{{skill_title.name}}_{{skill.code}}_{{skill.name}}" id="conf_radio|{{skill_title.name}}|{{skill.code}}|{{skill.name}}|1"
                                                 value="option1" {% if 1 == skill.conf %}checked {% endif %}> None
                                           </label>
                                           <label class="checkbox-inline" data-toggle="popover" data-placement="top" data-container="body" title="Confidence level - Low" data-trigger="hover" data-content="The user has a very small level of confidence in their ability at this skill">
                                              <input type="radio" name="conf_radio_{{skill_title.name}}_{{skill.code}}_{{skill.name}}" id="conf_radio|{{skill_title.name}}|{{skill.code}}|{{skill.name}}|2"
                                                 value="option2" {% if 2 == skill.conf %}checked{% endif %}> Low
                                           </label>
                                           <label class="checkbox-inline" data-toggle="popover" data-placement="top" data-container="body" title="Confidence level - Medium" data-trigger="hover" data-content="The user has a medium level confidence in their ability at this skill">
                                              <input type="radio" name="conf_radio_{{skill_title.name}}_{{skill.code}}_{{skill.name}}" id="conf_radio|{{skill_title.name}}|{{skill.code}}|{{skill.name}}|3"
                                                 value="option3" {% if 3 == skill.conf %}checked{% endif %}> Medium
                                           </label>
                                           <label class="checkbox-inline" data-toggle="popover" data-placement="top" data-container="body" title="Confidence level - High" data-trigger="hover" data-content="The user is over confident in their ability at this skill">
                                              <input type="radio" name="conf_radio_{{skill_title.name}}_{{skill.code}}_{{skill.name}}" id="conf_radio|{{skill_title.name}}|{{skill.code}}|{{skill.name}}|4"
                                                 value="option4" {% if 4 == skill.conf %}checked{% endif %}> High
                                           </label>
                                        </div>
                                    </div>
                                </a>
                                {% endfor %}
                           <!-- </div>-->
                            {% endfor %}

                        </div>
                    </div>
                    {% endfor %}
                </div>
                
            </div> 
        </div>

    </div>
</div>
{% endblock %}

{% block scripts %}
{{super()}} 
<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover({animation: true, delay: {show: 2000, hide: 200}});   
});

$('.collapse').on('shown.bs.collapse', function(){
$(this).parent().find(".glyphicon-chevron-down").removeClass("glyphicon-chevron-down").addClass("glyphicon-chevron-up");
}).on('hidden.bs.collapse', function(){
$(this).parent().find(".glyphicon-chevron-up").removeClass("glyphicon-chevron-up").addClass("glyphicon-chevron-down");
});
 
</script>
   

<script type="text/javascript">
    $(function(){
        $('input:radio').change(
            function(){
                $.post("/record", {'name1':$(this).attr("id")} );
            }
        );
    });
</script>
{% endblock %}