{% extends "bootstrap/base.html" %}
{% block title %}Trill Skills{% endblock %}

{% block content %}
<div class="container">
    <h3>Hello '{{user_name}}'</h3>
    <h3>Your current role is '{{trill_role}}'</h3>
    <h3>Your GDS skills are: </h3>
    
    <div class="accordion" id="accordion2">
        {% for group in group_list %}  
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#{{group.n}}">{{group.name}}</a>
                </div>
                    <div id="{{group.n}}" class="accordion-body collapse">
                        {% for skill in group.skill_list %}
                        <div class="list-group">
                            <a class="list-group-item"> {{skill}}</a>
                        </div>            
                        {% endfor %} 
                    </div>
            </div>
        </div>
        {% endfor %} 
    </div>
</div>
{% endblock %}
    
    



