{% extends "bootstrap/base.html" %}
{% block title %}Welcome to Trill{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Trill</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/view">View skills</a></li>
        <li><a href="/edit">Edit Skills</a></li>
        <li><a href="/admin">Some stuff for administrator</a></li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}   
<div class="jumbotron">
  <h1>Trill</h1>      
  <p>Recording your skills and learning</p>
</div>
{% endblock %} 

</body>
</html>