{% extends "bootstrap/base.html" %}
{% block title %}Welcome to Trill{% endblock %}

{% block navbar %}   
<div class='navbar navbar-default navbar-static-top'>
    <div class='container'>
        <a href='/home' class='navbar-brand'>Training and Skills</a>

        <ul class='nav navbar-nav navbar-right'>
            <li><a href='/view'>View skills</a></li>
            <li><a href='/edit'>Edit Skills</a></li>
            <li><a href='/admin'>Some stuff for administrator</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block content %}   
<div class="jumbotron">
    <h1>Trill</h1>      
    <p>Recording your skills and learning</p>
</div>
{% endblock %} 